<!-- <section>
	<div class="container">
		<div class="row">
			<div >
				<h1>Overview for {{ resource.name }}</h1>
				<p>{{ resource.overview }}</p>
				<div class="col-md-8">
				      <img class="d-block w-100" src="/assets/dwdocumentary.png" alt="Third slide" >
				    </div>



			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h1>About the client</h1>
		<p>{{ resource.client }}</p>
	</div>
</section>

<section>
	<div class="container">
		<h1>Scope of the Project</h1>
		<p>Describe what the client needed.Describe what mcb delivered include details eg who worked on project,location estimated total time</p>
	</div>
</section>

<section class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 pb-5">
			<h6 class="mcbfont pt-5">Talk To Us</h6>
			<p class="lead">
				We'd love to here from you.Share your project with us.
			</p>
			<p class="bolder">STUDIOSMCB@GMAIL.COM</p>
			</div>
		</div>
	</div>
</section> -->