<section>
	<div class="container">
		<div  class="row pt-5">
			<div class="col-12 col-md-4">

				<div class="card testimonial-card">

				    <div class="card-up indigo lighten-1">
				    </div>

				    
				    <div class="avatar mx-auto white"><img src="/assets/brucethumb.png" class="img-thumbnail rounded-circle" style="height: 120px;width: 120px;">
				    </div>

				    <div class="card-body">
				        
				        <h4 class="card-title">Bruce Nathan MacKenzie <small>CEO,Projects Manager </small></h4>
				        <hr>
				        
				        <p style="font-weight: bolder;">About Bruce</p>
				        <p>Bruce has  an experience of over 8 years from both training and hands on with works spanning from TV,Film and Video Production for lots of clients.Moreover Bruce has been a part time lecturer for film,TV and sound design at a leading East African school;Africa Media Institute.Bruce is also a founding director of Bruce designs a fashion line that deals with luxury male and female apparels.Bruce is also a great leader out of the office and is involved in youth mentorship and fellowship.He is a director at Word Encounter Ministries International (WEMI) a christian fellowship and mentroship for the youth. </p>
				    </div>

				</div>

			</div>


			<div class="col-12 col-md-4">

				<div class="card testimonial-card">

				    
				    <div class="card-up indigo lighten-1">
				    </div>

				    <div class="avatar mx-auto white"><img src="/assets/angwenyu.png" class="img-thumbnail rounded-circle" style="height: 120px;width: 120px;">
				    </div>

				    <div class="card-body">
				        
				        <h4 class="card-title">Agweyu Collins <br><small>Client Relations manager  </small></h4>
				        <hr>
				        
				        <p style="font-weight: bolder;">About Collins</p>
				        <p>Collins manages the marketing department and is responsible for service delivery to clients.
							Prior to joining McB STUDIOS, Collins worked for an international immigration consultancy firm in Westlands, Nairobi.
							Collins is better known for his role in promoting democracy and good governance in Kenya through litigation. Collins is also a motivational speaker and a humanitarian. He is currently studying Law at The University of Nairobi.
						</p>
				    </div>

				</div>

			</div>


			<div class="col-12 col-md-4">

				<div class="card testimonial-card">

				    
				    <div class="card-up indigo lighten-1">
				    </div>

				    
				    <div class="avatar mx-auto white"><img src="/assets/1thumb.png" class="img-thumbnail rounded-circle" style="height: 120px;width: 120px;">
				    </div>

				    <div class="card-body">
				        
				        <h4 class="card-title">Ian Job <br> <small>Head of Content Development </small></h4>
				        <hr>
				        
				        <p style="font-weight: bolder;">About Ian Job</p>
				        <p>An experienced Content developer video editor and a filmmaker , who has made 3 award winning Short films. That he wrote, directed, shot and edited. He strives to make productions that have a positive impact on society. Has vast knowledge in Information Technology.

						</p>
				    </div>

				</div>

			</div>


		</div>
	</div>
</section>
