<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 pb-5">
			<h1 class="mcbfont pt-5">OUR WORK</h1>
			<p class="lead">
				We design & create digital projects for clients all around the globe. While we’re continuously working on exciting new projects, we love to share some of our proudest moments.
			</p>
			</div>
		</div>
	</div>
</section>


<section style="background-color: #f8f9fa;">

	<div class="container">

		<div class="row">


		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/stay.png" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">STAY TV SERIES Sound Engeneering</p>
		      	<p class="card-text">Production for National TV</p>
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#stayModal" >View Project</button>
		          
		        <!-- <button type="button" class="btn btn-primary" >
					  Launch demo modal
					
				</button> -->


				<!-- Modal -->
				<div class="modal fade" id="stayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview for Stay Tv Sound Engeneering</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Stay Aired on KTN Tv a leading broadcaster in Kenya we enjoyed working on this project knowing the importance of sound in any film project.Together with the show producers we worked to ensure the show was a hit.</p>
				        <p class="text-center">
				        	
							<iframe width="420" height="315" src="https://www.youtube.com/embed/VmTwRbFlroM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				        </p>
				        <p>MCB Studios was tasked with provision of sound services in the entire production of Stay ssn 1.Our team was tasked with the responsibility to assemble operate and do technical aspects of the show.Our vast experience in recording amplyfing ,enhnacing mixing and reproducing sound came into play.We identified sound requirements for the show featuring award winning cast to appropriately perfom and produce KTN's smash tv series"
						</p>

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>

		        </div>
		        <small class="text-muted"></small>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/dwdocumentary.png" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">Documentary for DW</p>
		      <p class="card-text">Project to air on DW TV worldwide</p>
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <!-- <button [routerLink]="['/projects/DW Documentary']" type="button" class="btn btn-sm btn-outline-secondary">View Project</button> -->
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#dwModal" >View Project</button>
		         
		        </div>
		        <!-- Modal -->
				<div class="modal fade" id="dwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview of the DW Project</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Deutsche Welle (dw) is a German public international broadcaster featuring news,off-beat stories and analysis of German and international affairs.</p>
				        <p class="text-center">
			
							<iframe width="460" height="315" src="https://www.youtube.com/embed/IB9WPZpysxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				        </p>

				        <p>Working closely with other production staff ,MCB studios was briefed to shoot a news feature about climate change.MCB Studios oversaw the project from start to completion and licensed the content to DW Tv.The studio provided for equipments used and the inhouse production crew  ensured success of the project
						</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
		        
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/weddingphotography.png" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">Photography Projects</p>
		    	<p>Proffesional Photography Works </p>
		      
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <!-- <button  [routerLink]="['/projects/GIZ and WeltHunger Hilfe']" type="button" class="btn btn-sm btn-outline-secondary">View Project</button> -->
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#resolutionModal" >View Project</button>    
		          
		        </div>

		         <!-- Modal -->
				<div class="modal fade" id="resolutionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview of Photography Works</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">

				      
						<p>Events Photography</p>
				        <p>
				        	<img src="/assets/91.jpg" style="width: 100%;">
				        </p>
				        <p>MCB Studios also partnered with the County Government of Kakamega for the launch of Miss Tourism Kakemega.We provided photography  and Videography services for the whole event.</p>
				        <p>
				        	<img src="/assets/36.jpg" style="width: 100%;">
				        </p>
				        <p>Wedding Photography</p>
				        <p>
				        	<img src="/assets/weddingphotography.png" style="width: 100%;">
				        </p>
				        
				        <p>We have been a part of lots of love stories and capturing the excitement of the beuty and glam of this special day never gets old</p>



				         

				        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
		       
		      </div>
		    </div>
		  </div>
		</div>



		
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/welthunger.png" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">Welthungerhilfe German </p>
		      <p class="card-text">Welthungerhilfe x GIZ Documentary</p>
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <!-- <button  [routerLink]="['/projects/Resolution Insurance']" type="button" class="btn btn-sm btn-outline-secondary">View Project</button> -->
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#welthungerModal" >View Project</button>
		        
		        </div>


		         <!-- Modal -->
				<div class="modal fade" id="welthungerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview of Welthungerhilfe X GIZ</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Welthungerhilfe is a german multinational providing humanitarian aid across the world.This project was intresting as it involved visiting sites that the organisation operated in</p>

				        <p>MCB Studios was tasked with production of a documentary on a joint project for GIZ and WeltHunger Hilfe about their project concerning farming.MCB Studios conceptualised and led production to completion of the project also edited the project.
						</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>

		        
		      </div>
		    </div>
		  </div>
		</div>

		
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/resolutiondisplay.jpg" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">Resolution Insurance 15th Anniversary Celebration</p>
		      <p class="card-text">Photography&Videography Services</p>
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <!-- <button [routerLink]="['/projects/DW Documentary']" type="button" class="btn btn-sm btn-outline-secondary">View Project</button> -->
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#resModal" >View Project</button>
		         
		        </div>
		        <!-- Modal -->
				<div class="modal fade" id="resModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview of the Resolution Insurance 15th Anniversary</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Resolution Insurance is a leading insurance firm in Kenya that takes its brand and visibility keenly.We are proud to have partnered with them in delivering this project with them.</p>
				        <p class="text-center">
				        <iframe width="460" height="315" src="https://www.youtube.com/embed/elCIQyUr2nc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				         </p>
				        <p>
				        	McB Studios was tasked with photography for the 15th anniversary of Resolution Insurance and launch of their new line of insurance products.
				        	Mcb Studios provided photography and videography for the event .A satisfied client,Resolution Insurance CEO,Peter Nduati gave glowing remarks and a positive testimonial to the ongoing client relationship at the event.
				        </p>
				        
			
							
				       

				        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
		        
		      </div>
		    </div>
		  </div>
		</div>








		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/printingjob.jpg" data-holder-rendered="true">
		    <div class="card-body">
		    	<p style="font-weight:bolder;">Print Works and Branding</p>
		    	<p>Design,Publications & Promotional Material </p>
		      
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <!-- <button  [routerLink]="['/projects/GIZ and WeltHunger Hilfe']" type="button" class="btn btn-sm btn-outline-secondary">View Project</button> -->
		          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#printModal" >View Project</button>    
		          
		        </div>

		         <!-- Modal -->
				<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Overview of our printing works</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>McB Studios is a powerhouse that has been involved with major printing and branding works.From Promotional material,Publications,Outdoor and Indoor signage,Flyers embroidery and graphic design for digital and print works.</p>

				         <p class="text-center">
			
							<img src="/assets/printclients.png">
				        </p>

				        <p>McB clients span from Religious Outfits like Salvation Army where we developed printing works like tshirts,rollup banners,flyers and caps.McB also was tasked with printing Jerseys for Kenya Referees Association in the Western Region.Our clients for printing have a keen eye for quality and have consistently applauded McB Studios execution of World Class Illustrations and printing. 
						</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
		       
		      </div>
		    </div>
		  </div>
		</div>





		
		<!-- <div class="col-md-4">
		  <div class="card mb-4 box-shadow">
		    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 210px; width: 100%; display: block;" src="/assets/welthunger.png" data-holder-rendered="true">
		    <div class="card-body">
		      <p class="card-text">EVENT MANGEMENT CUSTOMER</p>
		      <P>EVENT MGMNT PLACE HOLDER</P>
		      <div class="d-flex justify-content-between align-items-center">
		        <div class="btn-group">
		          <button type="button" class="btn btn-sm btn-outline-secondary">View Project</button>
		         
		        </div>
		        
		      </div>
		    </div>
		  </div>
		</div> -->
		</div>
	</div>

	
</section>


