<section class="jumbos pt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<p class="lead">
				We are dedicated to adding value to our customers through professionalism  and deeply understanding the single elements of a new project.

				</p>
			</div>
			<div class="col-12 col-md-4"></div>
			<!-- <h1>How we do it</h1> -->
			<div class="col-12 col-md-6">
				<h6 style="font-weight: bolder;">Since 2009</h6>
				<p>
				McB Studio was established in 2009 and entered the digital productions market. Quickly, the company developed a unique expertise by relying on emerging production trends and production technologies, combined with more traditional industry skills such as customer satisfaction.

				</p>
			</div>
		</div>
		

	</div>
	
</section>
<section >
	<div class="container">
		<h1>OUR OFFERINGS</h1>
		<div class="row">
			
			<div class="col-12 col-md-4">

				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Film & TV Production</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Documentary Productions</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Television Drama Series</li>
				  
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Talk Shows</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Television Commercials</li>

				</ul>
				
			</div>
			<div class="col-12 col-md-4">

				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Printing and Graphic Design</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Printing (Laser & Offset)</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Indoor & Outdoor Signage</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Stationery Branding</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Publications</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Promotional Material</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Illustration and Design</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Concept Development</li>

				</ul>
				
			</div>
			<div class="col-12 col-md-4">
				
				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Audio Production</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Creative Sound Design</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Audio Editing</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Audio Recording</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Audio Mastering</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Voice Overs.</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Radio Commercials</li>
				  

				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4">
				
				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Photography</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Personal Portraits</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Staff Portraits</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Event Photography</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Product Photography</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Bridal Shoots</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Fashion Shoots</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Baby Bump Shoots</li>

				</ul>

			</div>
			<div class="col-12 col-md-4">
				
				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Branding and Development</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Brand Identity & Brand Refresh</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Logo & Brandmark</li>
				  
				  
				</ul>

			</div>
			<div class="col-12 col-md-4">
				
				<ul class="list-group list-group-flush">
				  <li class="list-group-item" style="font-weight: bolder; display: inline-flex;vertical-align: middle;border:none;">
				  	<i class="fas fa-arrow-circle-right"></i>Event Management</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Events Audio Visual Services & Technology</li>
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Live Signage </li>
				  
				  <li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
				  	Production and Staging Events</li>

					<li class="list-group-item" style=" display: inline-flex;vertical-align: middle;border:none;">
					Presentation Management</li>

				  	

				</ul>

			</div>
		</div>
	</div>
</section>


<section class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 pb-5">
			<h6 class="mcbfont pt-5">Talk To Us</h6>
			<p class="lead">
				We'd love to here from you.Share your project with us.
			</p>
			<p class="bolder">STUDIOSMCB@GMAIL.COM</p>
			</div>
		</div>
	</div>
</section>